@import 'colors'

.area
  background: $white
  width:100%
  box-shadow: 0 2px 3px rgba(0,0,0,.15)
  
  .centered
    padding: 1em 1em 2em 1em
    position: relative
    
  input,
  textarea
    font-family: 'Source Sans Pro', sans-serif
    border:1px solid $lightgrey
    padding:.5em 1em
    width:100%
    color: $grey
    margin:.3em 0  
    background: $paper
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
  
    &:focus
      outline:none
      border:1px solid $lightgrey
    
.area-text
  width:98%
  max-width:700px
  line-height:1.5
  
  p
    margin:1em 0
  
  a:hover
    text-decoration:underline