@import 'colors'

.area
  background: $white
  width:100%
  box-shadow: 0 3px 4px rgba(0,0,0,.25)
  
  .centered
    padding: 1em 1em 2em 1em
    position: relative

.area-text
  width:98%
  max-width:700px
  line-height:1.5
  