@import('colors')
@import('mixins')

.btn
	cursor: pointer
	display:inline-block
	background: $paper
	padding:.25em .75em
	color: $darkgrey
	userselect(none)
	
.btn-dark
	background: $darkgrey
	color: $white

.btn-close
	position: absolute
	right: 0
	top: 0
	font-size: 2em
	cursor: pointer