@import('colors')
@import('mixins')

.btn
	cursor: pointer
	display:inline-block
	background: $paper
	padding:.25em .75em
	color: $darkgrey
	userselect(none)
	
.btn-dark
	background: $darkgrey
	color: $white