//monochrome gradient
$black = #1b1c1d
$white = #FFF
$paper = #fefefe
$darkgrey = #555
$lightgrey = #eaebed
$subheaderbg = #eee
$subheaderbtnbg = #dedede
$superlightgrey=#f4f4f4
$grey = #7B7B7B
$red = #e74c3c
$green = #1abc9c
$yellow = #e67e22
$headerbg = #007FA4
//better colors
$blue = #4A7F91
$indigo = #2C68A6 //#3F51B5