//monochrome gradient
$black = #222
$white = #FFF
$paper = #fefefe
$lightgrey = #eaebed
$superlightgrey=#f4f4f4
$grey = #7B7B7B
$darkgrey = #222
$red = #e74c3c
$green = #1abc9c
$yellow = #e67e22
$headerbg = #007FA4
//better colors
$blue = #4A7F91
$indigo = #2C68A6 //#3F51B5