//monochrome gradient
$black = #000
$white = #FFF
$paper = #fefefe
$lightgrey = #e7e7e7
$grey = #7B7B7B
$darkgrey = #222
$red = #e74c3c
$green = #1abc9c
$yellow = #e67e22

//better colors
$blue = #4A7F91
$indigo = #2C68A6 //#3F51B5