@import 'colors'
@import 'mixins'

#content-wrapper
	width: 100%
	max-width: 70em
	margin: 0 auto
	padding: 1em 0 3em 0
	
#content
	width: 100%
	.sorting
		width: 100%
		padding: 1em
		font-weight: 700
		.result-counter
			float:left
		.sorter
			float: right
	.item
		cursor:pointer
		height: 250px
		.container
			perspective: 1000
			transition: transform .3s ease-in-out
			transform-style: preserve-3d
			position: relative;
			font-size: .8em
			boxshadow(0px 1px 2px 0px rgba(50,50,50,0.18))
			width: 100%
			height: 100%
			boxsizing(border-box)
		.container.flipped
			transform: rotateY(180deg)
		.sub
			padding: .3em
			height: 6em
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			color: $white
			background: rgba(30,30,30,.95)
			border-top: 1px solid $lightgrey
			transition: height .2s
		.title
			font-weight:700
		&:hover .container
			boxshadow(0px 2px 4px 0px rgba(80,80,80,0.30))
			.sub
				height: 6.5em
		.item-front, .item-back
			backface-visibility: hidden
			position: absolute
			top: 0
			width: 100%
			height: 100%
			left: 0
			overflow:hidden
		.item-front
			z-index: 2
			transform: rotateY(0deg)
			background: $white
			background-size: cover
		.item-back
			transform: rotateY(180deg)
			background: $red
			color: $white
			padding: 1em
			boxshadow(0px 2px 14px 0px rgba(50,50,50,.9))
			
	