.embed-item
  cursor:default

  .embed-content
    padding: .6em

  a,
  a:visited
    color:#222

  .embed-byline
    margin-top:.7em
    width:100%
  
  .embed-link
    display:block
    width:100%
    text-align:right

.embed-footer
  font-size:13px