@import('colors')

.area.faq
  
  .faq-list
    list-style:none
    margin-top:2em
   
  .faq-item
    margin-bottom:1em
    .faq-item-title
      background: $superlightgrey
      padding: 1em
        
    .faq-item-text
      background: $paper
      padding:1em
        