@import 'colors'

.favorites-list
  
  .favorites-list-header
    margin-top:1.5em
    
  h1
    float:left
    margin:0 0 .5em 0

  .btn-clear
    margin-bottom:.5em
    border:1px solid $red
    color:$red
    background:white
    float:right
    
    &:hover
      background:$red
      color:white

  ul
    list-style:none

  .favorite-item
    border-bottom:1px solid $lightgrey
    position: relative
  
    .btn-close
      position:absolute
      right:0
      bottom:0
      padding:.5em 1em
      color:$red
      border:1px solid $lightgrey
      border-bottom:none
      font-size:14px
      height:auto
      top: auto
      z-index:9
      user-select:none
      
      &:hover
        box-shadow:0 1px 2px rgba(0,0,0,.2)
        background:$red
        color:white

    a
      padding:1em 0
      color : $black
      display:block
      background:$paper
    
      &:hover
        background:$superlightgrey

    
  .favorite-item-img
      width: 80px
      height: 45px
      margin-right:1em
      float:left
      background-position: center center
      background-size: cover
      border:1px solid $lightgrey
  
  .favorite-content
    float:left
    
  .favorite-title
    font-weight:bold
  
  .favorite-subtitle
    color:$grey
      
  .favorites-url
    color:$grey
    
    label
      display:block
      margin:.5em 0
      
  &.is-shared-list
    .favorites-url
      display:none
      
    .favorite-item
      .btn-close
        display:none

.loading-spinner
  text-align:center
  color:$grey
  font-size:40px
  
  i 
    text-align: center
    width: 40px
    height: 40px
    display: inline-block