@import 'colors'

/*  TODO: use transform instead of left  */
.filter-menu
	position:fixed
	left:-15em
	top:0
	background:white
	height:100%
	padding:1em
	box-shadow :2px 0 2px rgba(0,0,0,0.4)
	-moz-transition:left .2s
	-webkit-transition:left .2s
	transition:left .2s
	padding-top: 3em
	width: 15em
	overflow-x: scroll
	.btn-close
		top: 1.2em
	&.active
		left:0
		z-index:3
	.filter-list
		margin-top: 1em
		.tag-list
			list-style: none
			padding: 0
			margin: .7em 0 2em 0
			li.filter
				cursor: pointer
				padding: .2em .5em
				user-select: none
				-webkit-user-select: none
				-moz-user-select: none
				&.active
					background: $lightgrey
				i
					display: none
					float: right
					margin-top: .2em
				&:hover
					background: $lightgrey
				&.active i.icon_check
					display: block
				&.active:hover i.icon_close
					display: block
				&.active:hover i.icon_check
					display: none
					
					
		.filter-header
			font-weight: bold
			border-bottom: 1px solid $lightgrey