/*  TODO: use transform instead of left  */

.filter-menu
	position:fixed
	left:-500px
	top:0
	background:white
	height:100%
	padding:1em
	box-shadow :2px 0 2px rgba(0,0,0,0.4)
	-moz-transition:left .2s
	-webkit-transition:left .2s
	transition:left .2s
	&.active
		left:0
		z-index:3
	.closeMenu
		position: absolute
		right: 0
		top: 0
		font-size: 2em
	.filter-list
		margin-top: 1em