.row > .column
  padding: 1em
  position: relative

@media screen and (min-width: 44em)
  .row
    overflow: hidden
  
  .row > .column
    float: left
    width: 50%
    
  .row > .column:nth-child(odd)
    clear: left

@media screen and (min-width: 64em)
  .row > .column
    width: 25%
  .row > .column:nth-child(odd)
    clear: none