@import 'colors'

header
	background: $indigo
	box-shadow:0 2px 3px rgba(0,0,0,.25)
	color: $white
	position: relative
	width: 100%
	top: 0
		
	.header-content
		padding: .5em 1em
		
	.menu-toggle
		margin-right: .5em

	.header-title
		font-weight: bold
		width:100%
		
		a
			color:$white
		
nav
	user-select:none

	.nav-item
		color: $white
		cursor: pointer
		font-size:14px
		text-transform:uppercase
		width:100%
		display:block
		margin-top:.5em

		&:hover
			color: $lightgrey
			
		i 
			margin-right:.4em