@import 'colors'


header
	background: $indigo
	box-shadow:0 2px 3px rgba(0,0,0,.25)
	color: $white
	position: fixed
	width: 100%
	z-index: 10
	top: 0
	height:40px
		
	.header-content
		padding: .5em 1em
		
	.menu-toggle
		margin-right: .5em

	.header-title
		float:left
		font-weight: bold
	a
		color: $white
	i
		cursor: pointer
	
nav 
	float:right
	userselect(none)
	a
		margin-left:1em