@import 'colors'

$maxWidth = 80em

/* helper classes */

.form-message
  padding:.5em 1em
  margin:.5em 0
  width:100%

  &.error
    color:white
    background: $red

  &.success
    color:white
    background: $green
  
.centered
  width:98.765%
  max-width: $maxWidth
  margin:0 auto
  
.hidden
  display: none !important
  visibility: hidden

.clearfix 
  zoom: 1

.clearfix:before
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both
