/* helper classes */
.centered
  width:98.765%
  max-width:80em
  margin:0 auto
  
.hidden
  display: none !important
  visibility: hidden

.clearfix 
  zoom: 1

.clearfix:before
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both
