@import url('http://fonts.googleapis.com/css?family=Source\+Sans\+Pro:400,700');
@import 'normalize'
@import 'mixins'
@import 'helper'

@import 'colors'
@import 'buttons'
@import 'grid'
@import 'preview'
@import 'filter-menu'
@import 'favorites-list'
@import 'faqs'
@import '../bower_components/elegant-icons/css/style.css'
@import '../../node_modules/react-select/dist/default.css'

@import 'header'
@import 'area'
@import 'footer'

/* global styling */

html
  font-family: 'Source Sans Pro', sans-serif
  overflow-y: scroll

html
button
input
select
textarea 
  color: $black

a,
a:visited,
a:hover
  color:$grey
  text-decoration: none

form
  margin: 1em 0
  
  button
    margin-top:1em

label
  color:$black

textarea
  height:7em

body
  background: $paper
  color: $black
  font-size: 1em
  line-height: 1.4
  width: 100%
  
.social_fazebook, .social_twidda{
  font-family: 'ElegantIcons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
}
.social_fazebook:before {
  content: "\e093"
}
.social_twidda:before {
  content: "\e094"
}
  
#app
  width: 100%
  position: relative
  max-width: $maxWidth
  margin:0 auto

.subpage
  padding:1em
  .subpage-content
    background:white
    box-shadow:0 1px 1px rgba(0,0,0,.1)
    padding:1em
    


@import 'media-queries'