/*  media queries for larger screens  */

@media only screen and (min-width: 44em)
  header
    position: fixed
    width: 100%
    z-index: 10
    top: 0
    height:40px
    
    .header-title
      float:left
      width:auto
  
  nav 
    float:right
    
    .nav-item
      margin: 0 0 0 1em
      width:auto
      display:inline-block
      
  .content-wrapper
    padding-top: 40px
  
  .preview-list-header
    .btn-filter
      float: left

  .preview-list-left
    float:left

  & > div
    float:left
    
    .btn-filter
      margin-bottom:0
    
    .count
      display:block
      line-height: 1.9em
      margin-left:1em
    

