/* mixins */
boxsizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  box-sizing arguments

borderradius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
boxshadow()
	-webkit-box-shadow: arguments
	-moz-box-shadow:    arguments
	box-shadow:         arguments
	
userselect()
	-webkit-user-select: arguments  /* Chrome all / Safari all */
	-moz-user-select: arguments    /* Firefox all */
	-ms-user-select: arguments      /* IE 10+ */
	-o-user-select: arguments
	user-select: arguments 