@import 'colors'
@import 'mixins'

/**********
	
	preview list

***********/

.content-wrapper
	-moz-transition:transform .2s
	-webkit-transition:transform .2s
	transition:transform .2s

.preview-list-header
	padding:1em
	.sorter
		float: right
		position: relative
		.sorting-drop-down
			position: fixed
			-moz-transition:height .2s
			-webkit-transition:height .2s
			transition:height .2s
			height: 0
			list-style: none
			margin: 0
			padding: 0
			position: absolute
			width: 100%
			li 
				width: 100%
				background: $white
				padding: .5em .2em
				cursor: pointer
				border: 1px solid $black
				userselect(none)
				&:hover
					background: $lightgrey
	.btn-filter
		float: left

.preview
	height:250px
	background:white
	box-shadow:0 2px 2px rgba(0,0,0,.25)
	cursor:pointer
	
	&:hover
		box-shadow:0 3px 10px rgba(0,0,0,.25)

	.preview-image
		background-position:center center
		background-size: cover
		height:150px
		
	.preview-content
		padding:.85em
		.preview-title
			font-weight: bold
		


/**********
	
	preview detail

***********/

.preview-detail-image
	height:14em
	width:100%
	background-repeat:no-repeat
	background-size:cover
	margin:1em 0 2em 0
	
.preview-detail-byline
	margin-bottom:2em