@import 'colors'
@import 'mixins'

/**********
	
	preview list

***********/

.content-wrapper
	-moz-transition:transform .2s
	-webkit-transition:transform .2s
	transition:transform .2s

.preview-list-header
	padding:1em
	
	.sorter
		float: right
		position: relative
		color:#777

		ul
			display:inline-block
			list-style:none
			
			li 
				cursor: pointer
				display:inline-block
				margin-left:.15em
				padding:.25em .5em
				userselect(none)
				&:hover
					background: $lightgrey
					
	.btn-filter
		float: left

.preview
	height:270px
	background: $white
	cursor:pointer
	position: relative
	
	.btn
		font-size:12px
		position:absolute
		background: transparent
		bottom:.8em
		right:.8em
		opacity:.25
		transition: opacity .2s
		box-shadow:none

	.preview-image
		background-position:center center
		background-size: cover
		height: 180px
		
	.preview-content
		padding: .6em .4em
		background: rgba(255,255,255,.8)
		width: 100%
		.preview-title
			font-size: .8em
		.preview-publisher
			font-size: .8em
			color: #777
	
	&.is-expanded,
	&.is-expanded:hover
		box-shadow: 0 2px 2px rgba(0,0,0,.4)

	&:hover 
		box-shadow: 0 1px 2px rgba(0,0,0,.2)
		
.preview:hover .btn
		opacity:1
		



/**********
	
	preview detail

***********/

.preview-detail-image
	height:14em
	width:100%
	background-repeat:no-repeat
	background-size:cover
	margin:1em 0 2em 0
	
.preview-detail-byline
	margin-bottom:2em