@import 'colors'

/**********
	
	preview list

***********/
.selected-filters ul
		list-style: none
		padding: 1em
		
	li.filter
		float: left
		cursor: pointer
		padding: .2em .5em
		user-select: none
		margin-right: 1em
		
		&.active
			background: $lightgrey
			box-shadow: 0 2px 3px rgba(0,0,0,.25)
			z-index:999
			
		&:hover.active
			background: $lightgrey
			box-shadow: 0 2px 3px rgba(0,0,0,.25)
			
		i
			display: none
			float: right
			margin-top: .2em
			
		&:hover
			background: $lightgrey
			box-shadow: 0 2px 2px rgba(0,0,0,.15)
			
		&.active i.icon_check
			display: block
			
		&.active:hover i.icon_close
			display: block
			
		&.active:hover i.icon_check
			display: none

.content-wrapper
	transition:transform .2s

.preview-list
	padding-top:2em
	
.highlight-overlay
	position: fixed
	height: 100%
	width: 100%
	background: rgba(0,0,0,.3)
	z-index: 5
	display: none
	top: 0
	left: 0
	
	&.active
		display: block
	
.count
	display:none

.preview-list-header
	.btn-filter
		margin-bottom:1em			
	
.preview
	height:270px
	background: $white
	position: relative
	display:block
	color:$black		
	margin-top:1em
	z-index: 1
	
	.preview-title
		font-weight:bold

	.close-btn
		display: none
		position: absolute
		top: .3em
		right: .3em
		z-index: 20
		cursor: pointer
	
	.btn-group
		position:absolute
		right:0
		width:30px
		
	.btn
		opacity:.5
		transition: opacity .2s
		box-shadow: 0 1px 1px rgba(0,0,0,.05)
		padding:.5em .75em
		border-radius:100%
		font-size:12px
		margin-top:.5em
		background:none
		
		&:hover
			background: $lightgrey
			opacity:1
			box-shadow: 0 1px 1px rgba(0,0,0,.15)
	
	.preview-image
		background-position:center center
		background-size: cover
		height: 180px
		display:block
		cursor:pointer
		border:1px solid $lightgrey
		transition: box-shadow .1s, height .2s;
		box-shadow: 0 3px 2px rgba(0,0,0,0)
		
		&:hover
			box-shadow: 0 3px 2px rgba(0,0,0,.2)
		
	.preview-content
		width:100%
		padding: .6em 45px .6em .5em
		font-size: .8em
		
		.preview-publisher
			color:$grey
		
		.preview-byline
			color: $grey
			margin-top:1em
			
			.byline-link
				cursor: pointer
				
				&:hover
					color: $darkgrey
					text-decoration: underline

		.preview-expanded
			display:none
			margin:1em 0
		
		.preview-social
			margin-top:1em
			color:$grey
			position:absolute
			bottom: 0
			
			.social_twitter
				color:#55acee
				margin-left:1em
			
			.social_facebook
				color: #3b5998
			
	&.is-expanded
		height:270px
		position:relative
		background:white
		z-index:6
		box-shadow: 0 2px 2px rgba(0,0,0,.4)
		
		.preview-image
			border:none
			
		.preview-content
			background: white
			border: none
			position: relative
			padding-bottom: 2em
			box-shadow: 0 2px 2px rgba(0,0,0,.4)
			
		.preview-social
			bottom: .5em
			
		.close-btn
			display: block
		
	&.is-expanded .preview-expanded
		background:rgba(255,255,255,.9)
		display:block
		
	&.is-stared
		.btn-star
			color:$yellow


/**********
	
	preview detail

***********/

.preview-detail-image
	height:14em
	width:100%
	background-repeat:no-repeat
	background-size:cover
	margin:1em 0 2em 0
	
.preview-detail-byline
	margin-bottom:2em