@import 'colors'

.social-bar
  position: fixed
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 1000
  background: #FFF
  border: 1px solid #ccc
  border-right: none
  padding: .5em
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px

  i
    color: $grey
    cursor: pointer
    &:hover
      color: darken($grey, 10)
  
  a
    display:block

  .share-fb
    padding-bottom: .5em